In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_error
from sklearn.preprocessing import StandardScaler


"""

    ici nous recupérons notre dataset (dataframe)
    dans son état brut telque téléchargé depuis le 
    lien donné par le professeur

"""


df = pd.read_csv(r"HousingData.csv")



"""
    Nous essayons de voir un peu à quoi ressemble notre dataset telque téléchargé dans 
    son état brut avec la fonction info()et describe()
"""
print('--VISUALISATION DU DATASET--')

print(df.info())
print(df.describe())

--VISUALISATION DU DATASET--
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB
None
             CRIM          ZN       INDUS        CHAS         NOX          RM  \
count  486.000000  486.000000  486.000000  486.000000  506.000000  506.000000
mean     3.611874   11.211934   11.083992    0.069959    0.554695    6.284634
std      8.720192   23.388876    6.835896    0.255340    0.115878    0.702617
min      0.006320    0.000000    0.460000    0.000000    0.385000    3.561000
25%      0.081900    0.000000    5.190000    0.000000    0.449000    5.885500
50%      0.253715    0.000000    9.690000    0.000000    0.538000    6.208500
75%      3.560263   12.500000   18.100000    0.000000    0.624000    6.623500
max     88.976200  100.000000   27.740000    1.000000    0.871000    8.780000

              AGE         DIS         RAD         TAX     PTRATIO           B  \
count  486.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean    68.518519    3.795043    9.549407  408.237154   18.455534  356.674032
std     27.999513    2.105710    8.707259  168.537116    2.164946   91.294864
min      2.900000    1.129600    1.000000  187.000000   12.600000    0.320000
25%     45.175000    2.100175    4.000000  279.000000   17.400000  375.377500
50%     76.800000    3.207450    5.000000  330.000000   19.050000  391.440000
75%     93.975000    5.188425   24.000000  666.000000   20.200000  396.225000
max    100.000000   12.126500   24.000000  711.000000   22.000000  396.900000

            LSTAT        MEDV
count  486.000000  506.000000
mean    12.715432   22.532806
std      7.155871    9.197104
min      1.730000    5.000000
25%      7.125000   17.025000
50%     11.430000   21.200000
75%     16.955000   25.000000
max     37.970000   50.000000

In [2]:

"""
    nettoyage du model HousingData.csv
    c'est à dire notre dataframe df.
    Nous renomons les colonnes du dataframe 
    pour une meilleures gestion et une bonne comprehension 
    chaque colonne est renommées en francais 

"""

print("""---------
        nettoyage du model HousingData.csv\n
        c'est à dire notre dataframe df.\n
        Nous renomons les colonnes du dataframe \n
        pour une meilleures gestion et une bonne comprehension\n 
        chaque colonne est renommées en francais 

    -------------"""
      )



df.rename(columns =
          {
              'CRIM' : 'TAUX_DE_CRIMINALITE',
              'ZN': 'zonage_residentiel',
              'INDUS': 'PROPORTION_INDUSTRIELLE',
              'CHAS' : 'BORD_DU_FLEUVE',
              'NOX' : 'CONCENTRATION_NOX',
              'RM' : 'NBR_MOYEN_PIECES',
              'AGE' : 'ANCIENNETE_LOGEMENT',
              'DIS' : 'DISTENCE_ENTREPRISES',
              'RAD' : 'ACCES_AUTOROUTE',
              'TAX' : 'TAUX_TAXE_FONCIERE',
              'PTRATIO' : 'RATION_ELEVE_ENSEIGNANT',
              'B' : 'DEMOGRAPHIE_MINORITAIRE',
              'LSTAT': 'STATUT_SOCIO_ECONOMIQUE_INFERIEUR',
              'MEDV': 'PRIX_DU_LOGEMENT'

            }, inplace = True
)

"""

    On visualise notre dataset après les modifications apportées
    Note : la fonction .head() n'affiche que 5 lignes par défaut 
    si on ne precise pas le nombre de ligne dans le parametre 

"""

print(  """ 
            On visualise notre dataset après les modifications apportées
            Note : la fonction .head() n'affiche que 5 lignes par défaut 
            si on ne precise pas le nombre de ligne dans le parametre
        """
    )
print(df.head())

---------
        nettoyage du model HousingData.csv

        c'est à dire notre dataframe df.

        Nous renomons les colonnes du dataframe

        pour une meilleures gestion et une bonne comprehension

        chaque colonne est renommées en francais

    -------------

            On visualise notre dataset après les modifications apportées
            Note : la fonction .head() n'affiche que 5 lignes par défaut
            si on ne precise pas le nombre de ligne dans le parametre

   TAUX_DE_CRIMINALITE  zonage_residentiel  PROPORTION_INDUSTRIELLE  \
0              0.00632                18.0                     2.31
1              0.02731                 0.0                     7.07
2              0.02729                 0.0                     7.07
3              0.03237                 0.0                     2.18
4              0.06905                 0.0                     2.18

   BORD_DU_FLEUVE  CONCENTRATION_NOX  NBR_MOYEN_PIECES  ANCIENNETE_LOGEMENT  \
0             0.0              0.538             6.575                 65.2
1             0.0              0.469             6.421                 78.9
2             0.0              0.469             7.185                 61.1
3             0.0              0.458             6.998                 45.8
4             0.0              0.458             7.147                 54.2

   DISTENCE_ENTREPRISES  ACCES_AUTOROUTE  TAUX_TAXE_FONCIERE  \
0                4.0900                1                 296
1                4.9671                2                 242
2                4.9671                2                 242
3                6.0622                3                 222
4                6.0622                3                 222

   RATION_ELEVE_ENSEIGNANT  DEMOGRAPHIE_MINORITAIRE  \
0                     15.3                   396.90
1                     17.8                   396.90
2                     17.8                   392.83
3                     18.7                   394.63
4                     18.7                   396.90

   STATUT_SOCIO_ECONOMIQUE_INFERIEUR  PRIX_DU_LOGEMENT
0                               4.98              24.0
1                               9.14              21.6
2                               4.03              34.7
3                               2.94              33.4
4                                NaN              36.2

In [3]:

"""
    On modifier les types de ces differentes colonnes 
    à float pour l'unicté de type lorsqu'on aura 
    à travailler avec notre dataset
    
"""

df.TAUX_TAXE_FONCIERE = df.TAUX_TAXE_FONCIERE.astype(float)
df.ACCES_AUTOROUTE = df.ACCES_AUTOROUTE.astype(float)
df.RATION_ELEVE_ENSEIGNANT = df.RATION_ELEVE_ENSEIGNANT.astype(float)



"""
    On supprime les valeurs null des ces differentes colonnes
    pour n'est pas avoir de l'overfitting dans la suite de notre 
    travaille avec la fonction dropna()

"""

df.dropna(subset = [
    'TAUX_DE_CRIMINALITE',
    'zonage_residentiel',
    'PROPORTION_INDUSTRIELLE',
    'BORD_DU_FLEUVE',
    'ANCIENNETE_LOGEMENT',
    'STATUT_SOCIO_ECONOMIQUE_INFERIEUR'], 
    inplace=True
)





"""

    pour ne pas géré les valeurs null présentes dans chaque colonnes 
    on utilise la fonction dropna sur l'ensembe de notre dataset
    Note : inplace= True ; c'est pour que ces modifications soit effectif
    directement  dans notre dataset


"""


df.dropna(inplace= True)

print('-------VISUALISATION DU DATASET SANS VALEURS NULLS--------')
print(df.info())
print(df.describe())

-------VISUALISATION DU DATASET SANS VALEURS NULLS--------
<class 'pandas.core.frame.DataFrame'>
Index: 394 entries, 0 to 504
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   TAUX_DE_CRIMINALITE                394 non-null    float64
 1   zonage_residentiel                 394 non-null    float64
 2   PROPORTION_INDUSTRIELLE            394 non-null    float64
 3   BORD_DU_FLEUVE                     394 non-null    float64
 4   CONCENTRATION_NOX                  394 non-null    float64
 5   NBR_MOYEN_PIECES                   394 non-null    float64
 6   ANCIENNETE_LOGEMENT                394 non-null    float64
 7   DISTENCE_ENTREPRISES               394 non-null    float64
 8   ACCES_AUTOROUTE                    394 non-null    float64
 9   TAUX_TAXE_FONCIERE                 394 non-null    float64
 10  RATION_ELEVE_ENSEIGNANT            394 non-null    float64
 11  DEMOGRAPHIE_MINORITAIRE            394 non-null    float64
 12  STATUT_SOCIO_ECONOMIQUE_INFERIEUR  394 non-null    float64
 13  PRIX_DU_LOGEMENT                   394 non-null    float64
dtypes: float64(14)
memory usage: 46.2 KB
None
       TAUX_DE_CRIMINALITE  zonage_residentiel  PROPORTION_INDUSTRIELLE  \
count           394.000000          394.000000               394.000000
mean              3.690136           11.460660                11.000863
std               9.202423           23.954082                 6.908364
min               0.006320            0.000000                 0.460000
25%               0.081955            0.000000                 5.130000
50%               0.268880            0.000000                 8.560000
75%               3.435973           12.500000                18.100000
max              88.976200          100.000000                27.740000

       BORD_DU_FLEUVE  CONCENTRATION_NOX  NBR_MOYEN_PIECES  \
count      394.000000         394.000000        394.000000
mean         0.068528           0.553215          6.280015
std          0.252971           0.113112          0.697985
min          0.000000           0.389000          3.561000
25%          0.000000           0.453000          5.879250
50%          0.000000           0.538000          6.201500
75%          0.000000           0.624000          6.605500
max          1.000000           0.871000          8.780000

       ANCIENNETE_LOGEMENT  DISTENCE_ENTREPRISES  ACCES_AUTOROUTE  \
count           394.000000            394.000000       394.000000
mean             68.932741              3.805268         9.403553
std              27.888705              2.098571         8.633451
min               2.900000              1.129600         1.000000
25%              45.475000              2.110100         4.000000
50%              77.700000              3.199200         5.000000
75%              94.250000              5.116700        24.000000
max             100.000000             12.126500        24.000000

       TAUX_TAXE_FONCIERE  RATION_ELEVE_ENSEIGNANT  DEMOGRAPHIE_MINORITAIRE  \
count          394.000000               394.000000               394.000000
mean           406.431472                18.537563               358.490939
std            168.312419                 2.166460                89.283295
min            187.000000                12.600000                 2.600000
25%            280.250000                17.400000               376.707500
50%            330.000000                19.100000               392.190000
75%            666.000000                20.200000               396.900000
max            711.000000                22.000000               396.900000

       STATUT_SOCIO_ECONOMIQUE_INFERIEUR  PRIX_DU_LOGEMENT
count                         394.000000        394.000000
mean                           12.769112         22.359645
std                             7.308430          9.142979
min                             1.730000          5.000000
25%                             7.125000         16.800000
50%                            11.300000         21.050000
75%                            17.117500         25.000000
max                            37.970000         50.000000

In [4]:

print(df['BORD_DU_FLEUVE'].unique)
"""
    on supprime la variable BORD_DU_FLEUVE car cette feature(variable) 
    ne contient qu'une seule  valeure qui est zero(0)
    or notre model d'apprentissage son objectif est de s'entrainer 
    avec les valeurs differente 
    pour bien esptimer(predire) le pris des logement 
    c'est pour cette raison que nous supprimons le feature BORD_DU_FLEUVE
    une facons d'éviter le overfitting

    Note : axis=1; pour signaler à python qu'il s'agit bien de la suppression 
    d'une colonne et non d'une ligne axis=0 
"""
df.drop('BORD_DU_FLEUVE', inplace=True, axis=1)

"""

    Visualisation du datset apres suppression du features BORD_DU_FLEUVE

"""

print('--Visualisation du datset apres suppression du features BORD_DU_FLEUVE--')
print(df.head())
print(df.info())
print(df.describe())

<bound method Series.unique of 0      0.0
1      0.0
2      0.0
3      0.0
5      0.0
      ...
499    0.0
500    0.0
502    0.0
503    0.0
504    0.0
Name: BORD_DU_FLEUVE, Length: 394, dtype: float64>
--Visualisation du datset apres suppression du features BORD_DU_FLEUVE--
   TAUX_DE_CRIMINALITE  zonage_residentiel  PROPORTION_INDUSTRIELLE  \
0              0.00632                18.0                     2.31
1              0.02731                 0.0                     7.07
2              0.02729                 0.0                     7.07
3              0.03237                 0.0                     2.18
5              0.02985                 0.0                     2.18

   CONCENTRATION_NOX  NBR_MOYEN_PIECES  ANCIENNETE_LOGEMENT  \
0              0.538             6.575                 65.2
1              0.469             6.421                 78.9
2              0.469             7.185                 61.1
3              0.458             6.998                 45.8
5              0.458             6.430                 58.7

   DISTENCE_ENTREPRISES  ACCES_AUTOROUTE  TAUX_TAXE_FONCIERE  \
0                4.0900              1.0               296.0
1                4.9671              2.0               242.0
2                4.9671              2.0               242.0
3                6.0622              3.0               222.0
5                6.0622              3.0               222.0

   RATION_ELEVE_ENSEIGNANT  DEMOGRAPHIE_MINORITAIRE  \
0                     15.3                   396.90
1                     17.8                   396.90
2                     17.8                   392.83
3                     18.7                   394.63
5                     18.7                   394.12

   STATUT_SOCIO_ECONOMIQUE_INFERIEUR  PRIX_DU_LOGEMENT
0                               4.98              24.0
1                               9.14              21.6
2                               4.03              34.7
3                               2.94              33.4
5                               5.21              28.7
<class 'pandas.core.frame.DataFrame'>
Index: 394 entries, 0 to 504
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   TAUX_DE_CRIMINALITE                394 non-null    float64
 1   zonage_residentiel                 394 non-null    float64
 2   PROPORTION_INDUSTRIELLE            394 non-null    float64
 3   CONCENTRATION_NOX                  394 non-null    float64
 4   NBR_MOYEN_PIECES                   394 non-null    float64
 5   ANCIENNETE_LOGEMENT                394 non-null    float64
 6   DISTENCE_ENTREPRISES               394 non-null    float64
 7   ACCES_AUTOROUTE                    394 non-null    float64
 8   TAUX_TAXE_FONCIERE                 394 non-null    float64
 9   RATION_ELEVE_ENSEIGNANT            394 non-null    float64
 10  DEMOGRAPHIE_MINORITAIRE            394 non-null    float64
 11  STATUT_SOCIO_ECONOMIQUE_INFERIEUR  394 non-null    float64
 12  PRIX_DU_LOGEMENT                   394 non-null    float64
dtypes: float64(13)
memory usage: 43.1 KB
None
       TAUX_DE_CRIMINALITE  zonage_residentiel  PROPORTION_INDUSTRIELLE  \
count           394.000000          394.000000               394.000000
mean              3.690136           11.460660                11.000863
std               9.202423           23.954082                 6.908364
min               0.006320            0.000000                 0.460000
25%               0.081955            0.000000                 5.130000
50%               0.268880            0.000000                 8.560000
75%               3.435973           12.500000                18.100000
max              88.976200          100.000000                27.740000

       CONCENTRATION_NOX  NBR_MOYEN_PIECES  ANCIENNETE_LOGEMENT  \
count         394.000000        394.000000           394.000000
mean            0.553215          6.280015            68.932741
std             0.113112          0.697985            27.888705
min             0.389000          3.561000             2.900000
25%             0.453000          5.879250            45.475000
50%             0.538000          6.201500            77.700000
75%             0.624000          6.605500            94.250000
max             0.871000          8.780000           100.000000

       DISTENCE_ENTREPRISES  ACCES_AUTOROUTE  TAUX_TAXE_FONCIERE  \
count            394.000000       394.000000          394.000000
mean               3.805268         9.403553          406.431472
std                2.098571         8.633451          168.312419
min                1.129600         1.000000          187.000000
25%                2.110100         4.000000          280.250000
50%                3.199200         5.000000          330.000000
75%                5.116700        24.000000          666.000000
max               12.126500        24.000000          711.000000

       RATION_ELEVE_ENSEIGNANT  DEMOGRAPHIE_MINORITAIRE  \
count               394.000000               394.000000
mean                 18.537563               358.490939
std                   2.166460                89.283295
min                  12.600000                 2.600000
25%                  17.400000               376.707500
50%                  19.100000               392.190000
75%                  20.200000               396.900000
max                  22.000000               396.900000

       STATUT_SOCIO_ECONOMIQUE_INFERIEUR  PRIX_DU_LOGEMENT
count                         394.000000        394.000000
mean                           12.769112         22.359645
std                             7.308430          9.142979
min                             1.730000          5.000000
25%                             7.125000         16.800000
50%                            11.300000         21.050000
75%                            17.117500         25.000000
max                            37.970000         50.000000

In [5]:


"""
    On enregistre toute les modfication apportées à notre dataset HousingData.csv 
    dans un fichier excel et csv
"""
df.to_excel(r'C:\examPy_Defense/bdd/bddBostonNettoyer.xlsx')
df.to_csv(r'C:\examPy_Defense/bdd/bddBostonNettoyer.csv')

""""
    Dans le cadre de ce projet notre seule et unique feature(variale)
    cible est belle est bien la vaiable PRIX_DU_LOGEMENT
    car il s'agit de détérminer la variation du  PRIX de LOGEMENT à BOSTON 
    en faction des critères x et z,w etc... qui sont pour nous 
    les variables clés

"""



PRIX_DU_LOGEMENT = df['PRIX_DU_LOGEMENT']
x = df[[
    'TAUX_DE_CRIMINALITE',
    'zonage_residentiel',
    'PROPORTION_INDUSTRIELLE',
    'CONCENTRATION_NOX',
    'NBR_MOYEN_PIECES',
    'ANCIENNETE_LOGEMENT',
    'DISTENCE_ENTREPRISES',
    'ACCES_AUTOROUTE',
    'TAUX_TAXE_FONCIERE',
    'RATION_ELEVE_ENSEIGNANT',
    'DEMOGRAPHIE_MINORITAIRE',
    'STATUT_SOCIO_ECONOMIQUE_INFERIEUR',
]]

In [6]:


"""

Notre dataset separé en deux la variable cible qui est (PRIX_DU_LOGEMENT)
et nos varibales clé qui sont dans la liste x
seront séparé en jeu de test et d'entrainment 

l'objectif ici est d'obtenir une bonne base pour l'entrainement 
car il est important de noter que la performance de notre modèle y dépedend 
voila la raison por laquelle on a prit 80% de notre data set pour la dédier
au jeu d'entrainement , contre seulement 20% pour le test 

il est important de noter que cette partie est cruciale pour 
notre projet car c'est d'elle qu'on  saura si notre modele fait du overfitting 
ou soit de l'underfitting 

"""


X_train,X_test,y_train,y_test = train_test_split(x, PRIX_DU_LOGEMENT,test_size=0.2, random_state=0)

In [7]:


"""
    lorsqu'on utilise : 
    les algorithme comme :  lasso(L1), Ridge(L2), régression linaire il est important de 
    normaliser pour éviter que le model concidere 
    une features plus que les autre ( c'est comme mettre toutes les variable au meme niveau
    de comparaison )
    la normalisation permet a ridge,lasso, régression linaire de se 
    baser sur l'influences de chaqes variable  d'entre sur la prédiction 
    au lieu de ce concentre uniquement sur leurs valeurs numérque 
"""

scaler = StandardScaler()

X_train_Normaliser = scaler.fit_transform(X_train)
X_test_Normaliser = scaler.transform(X_test)